[package]
name = "maybe-single"
version = "0.11.0"
license = "MIT"
authors = ["ufoscout <ufoscout@gmail.com>"]
edition = "2018"
description = "A singleton. Maybe."

[dependencies]
parking_lot = "0.10"

[dev-dependencies]
once_cell = "1.3"
rand = "0.7"
tokio = {version = "0.2", features = ["full"]}
